<p>ようこそ <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>お知らせいたします。現在、あなたのメールアドレスが変更されようとしています <%= @resource.unconfirmed_email %></p>
<% else %>
  <p>お知らせいたします。現在、あなたのメールアドレスが変更されようとしています <%= @resource.email %></p>
<% end %>
