<p>ようこそ <%= @resource.email %>!</p>

<p>誰かがあなたのパスワードを変更するためのリンクをリクエストしました。以下のリンクから変更することができます。</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もしこのメールのリクエストがなかった場合は、このメールを無視してください。</p>
<p>新しいパスワードを作成するために、上記のリンクにアクセスするまで、パスワードは変更されません。</p>
